* {
    box-sizing: border-box;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 300px;
    margin: 1rem;
    position: relative;
    width: 300px; 
    padding: 1rem;
}

.card__shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.records {
    margin: 0px;
    list-style: none;
    width: 70%;
    margin: 0 auto;
}

.record {
    padding:  10px;
    margin: 10px 0px;
    border: 1px solid red
}