.basketItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    cursor: pointer;

    padding: 30px;
}

.pictureWrapper {
    width: 25%;
    text-align: center;
}

.picture {
    width: 100%;
    display: block;
}

.deleteButton {
    position: absolute;
    right: 30px;
    top: 30px;
}
