:root {
    --count_in_row: 5;
    --gap: 15px;
}

.AvailableProducts {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
    justify-content: space-between;

    /*transform: scale(0);*/
    transition: transform 0.5s ease-in-out 0.5s;
}

/*.AvailableProductsLoaded {*/
/*    transform: scale(1);*/
/*}*/

.AvailableProductItem{
    margin-top: 10px;
    flex: 1 0 21%;
    min-width: 250px;
    max-width: calc((100% / var(--count_in_row)) - 15px);
}
