@import "~bootstrap/scss/bootstrap";


html, body{
  margin: 0;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.router-view {
  width: 100%;
  min-height: 100%;
}